#logoimage{
    width: 32px;
    height: 22px;
}
.NotesDiv{
    background-color: antiquewhite;
    width:346px;
    margin-bottom: 2%;
    margin-right: 2%;
}
.cardDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#paraline{
    font-size: 48px;
}
#paraline1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 4%;
    margin-right: 4%;
}
.headline{
    display: flex;
    justify-content: space-between;
}
#tittle{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.deleteupdatediv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.paradiv{
    word-wrap: break-word;
    margin-left: 24px;
    margin-right: 24px;
}
#para{
    font-size: 29px;
    line-height: 4vh;
    letter-spacing: 1px;
}
.App{
    background-image: url("./Images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -46px;
}